h1{
  font-size: 45px;
}
#wrapper{
  width:900px;
  border: 10px solid black;
}
img {
  height: 190px;
  width: 190px;
  margin-top: 15px;
  margin-left: 15px;
}
#button {
  display: block;
  margin-top: 15px;
  background-color: olive;
}
